<div>
    <label for="username_input">Nombre de usuario</label>
    <div class="icon-input">
        <img src="assets/icon/icon_person.svg" alt="">
        <input class="input-text" type="text" name="username_input"/>
    </div>

    <label for="password_input">Contraseña</label>
    <div class="icon-input">
        <img src="assets/icon/icon_fingerprint.svg" alt="">
        <input class="input-text" type="password" name="password_input"/>
    </div>

    <div id="button-wrapper">
        <button id="submit-button">ENTRAR</button>
    </div>
</div>
