<div id="wrapper">
    <div id="top-panel">
        <div id="title-panel">
            <h2><span>Informes </span> <span style='color:#848484;'>{{statusText}}</span></h2>
        </div>
    </div>
    <div class="flex-row" style='flex: 1; overflow: hidden;'>
        <div id="informes-list" class='scrolled-section'>        
            <div class='informes-item' *ngFor="let informe of informes; index as i" [routerLink]='informe.path'>
                {{ informe.nombre }}
            </div>
        </div>
        <div *ngIf='noSelected' id='values-placeholder'>
            <p>Haz click en un informe para generar y exportar</p>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>