<p class="title">Liquidación de arriendo</p>

<div class="flex-row">
    <div class="flex-column">
        <p class="section-content">Propiedad</p>
        <ng-select [items]="propiedades" bindLabel="uId" bindValue="_id" style='width: 535px'
                            [(ngModel)]='selectedPropiedadId' (ngModelChange)='changePropiedad(selectedPropiedadId)'>
            <ng-template class='flex-column' ng-option-tmp let-item="item">
                <p class="section-content">{{item.uId}}</p>
                <p class="section-content">{{item.direccionStr}}</p>        
            </ng-template>
        </ng-select>
        
        <div class='flex-column' *ngIf='selectedPropiedadId$.value != ""' style='margin-top: 10px;'>
            <p class="section-content">{{selectedPropiedad.direccionStr}}</p>
        
            <div class="flex-row">
                <div class="flex-column" style='justify-content: flex-end; margin-top: 10px;'>
                    <p class="section-content">Periodo</p>
                    <dp-date-picker [config]='datePickerConfig' [theme]='"dp-material"' [mode]='"month"' [(ngModel)]='date'
                                    (ngModelChange)='changePeriodo()'></dp-date-picker>
                </div>
                <div *ngIf='liquidacionExists; else noLiquidacion' style='display: flex; flex-direction: column; justify-content: center; align-items: center; flex:1;'>
                    <p class="section-content">Liquidación ya fue generada</p>
                </div>
        
                <ng-template #noLiquidacion>
                    <div class="flex-row" style='justify-content: center; align-items: center; flex: 1;' *ngIf='!selectedLiquidacion.fecha'>
                        <div class="grey-button" (click)='preparar()'>Preparar</div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    
    <div *ngIf='selectedPropiedadId$.value != ""' class="flex-column" style='margin-left: 10px; flex: 1; border-left: 1px solid #EEE; padding-left: 10px;'>
        <div class="flex-row">
            <div class="flex-column" style='flex:1;'>
                <p class="section-content">Forma pago</p>
                <ng-select [items]="formaspago" bindLabel="name" bindValue="name" style='width: 170px; margin-right: 10px;' [(ngModel)]='selectedLiquidacion.formapago' [disabled]='liquidacionExists'>
                </ng-select>
            </div>
            <div class="flex-column" style='margin-left: 10px; flex:1;'>
                <p class="section-content">Banco</p>
                <ng-select [items]="bancos$ | async" bindLabel="name" bindValue="name" style='width: 140px; margin-right: 10px;' [(ngModel)]='selectedLiquidacion.banco' [disabled]='liquidacionExists'>
                </ng-select>
            </div>
        </div>
        <div class="flex-row" style='margin-top: 10px'>
            <div class="flex-column">
                <p class="section-content">Cta. / Documento</p>
                <input type="text" style='width: 145px; text-align: right; padding-right: 10px;' [(ngModel)]='selectedLiquidacion.documento' [disabled]='liquidacionExists'>
            </div>
        </div>
    </div>
</div>

<div [ngStyle]='{"display": showPdf ? "flex" : "none"}' style='flex:1;'>
    <ng2-pdfjs-viewer style='flex:1; margin-top: 10px;' #pdfViewer></ng2-pdfjs-viewer>
</div>

<div class="flex-row" id='abonos-cargos' *ngIf='selectedPropiedadId$.value != "" && !showPdf' style='margin-top: 20px; flex: 1; overflow: hidden;'>
    <div class="flex-column scrolled-section" *ngIf='selectedLiquidacion.fecha' style='flex: 1; border-right: 1px solid #DDD; margin-right: 10px; padding-right: 15px;'>
        <p class="section-title">Abonos</p>
        <div class='flex-row' *ngFor='let abono of selectedLiquidacion.abonos; index as i; first as first;'  style=' padding-bottom: 5px;'>
            <div class="flex-column" style='flex:1'>
                <p class="section-subtitle" *ngIf='first'>Concepto</p>
                <input type="text" [(ngModel)]='abono.concepto' style='width: 210px;' [disabled]='liquidacionExists'>
            </div>
            <div class="flex-column" style='margin-left: 10px; flex:1;'>
                <p class="section-subtitle" *ngIf='first' >Valor</p>
                <input type="text" [(ngModel)]='abono.valor' style='width: 190px; text-align: right; padding-right: 10px;' (ngModelChange)="updateTotales()" [disabled]='liquidacionExists'>
            </div>
        </div> 
        <div class="flex-row" style='justify-content: center; margin-top: 10px;' *ngIf='!liquidacionExists && selectedLiquidacion.fecha'>
            <div class="grey-button small" style='font-weight: 400; margin-right: 20px;' (click)='addAbono()'>
                Agregar
            </div>
            <div class="red-button small" *ngIf='selectedLiquidacion.abonos.length > 0' style='font-weight: 400;' (click)='removeAbono()'>
                Eliminar
            </div>
        </div>
    </div>
    <div class="flex-column scrolled-section" *ngIf='selectedLiquidacion.fecha' style='flex: 1; border-right: 1px solid #DDD; margin-right: 10px; padding-right: 15px;'>
        <p class="section-title">Honorarios</p>
        <div class="flex-row" style='padding-bottom: 10px;'>
            <div class="flex-column">
                <p class="section-content">Tipo</p>
                <ng-select [items]="tiposimpuestos" bindLabel="name" bindValue="name" style='width: 225px; ' [(ngModel)]='selectedLiquidacion.honorarios.tipo' [disabled]='true'>
                </ng-select>

                <p class="section-content" style='margin-top: 5px;'>Detalle</p>
                <input type="text" [(ngModel)]='selectedLiquidacion.honorarios.descripcion' style='width: 210px;' [disabled]='liquidacionExists'>
            </div>
            <div class="flex-column" style='margin-left: 10px;'>
                <p class="section-content">Valor</p>
                <input type="text" [(ngModel)]='selectedLiquidacion.honorarios.valor' style='width: 185px; text-align: right; padding-right: 10px;' [disabled]='liquidacionExists' (ngModelChange)="updateTotales()">

                <p class="section-content" style='margin-top: 17px;'>Impuestos</p>
                <input type="text" [(ngModel)]='selectedLiquidacion.honorarios.impuestos' style='width: 185px; text-align: right; padding-right: 10px;' [disabled]='liquidacionExists' (ngModelChange)="updateTotales()">                
            </div>
        </div>
        <p class="section-title">Cargos</p>
        <div class='flex-row' *ngFor='let cargo of selectedLiquidacion.cargos; index as i;' style='border-bottom: 1px solid #CCC; margin-bottom: 5px; padding-bottom: 5px;'>
            <div class="flex-column">
                <!--<p class="section-content">Tipo</p>-->
                <ng-select [items]="tiposCargo" bindLabel="name" [(ngModel)]='cargo.tipo' bindValue="name" style='width: 215px' [clearable]='false' (ngModelChange)='changeTipo(i)' [disabled]='liquidacionExists'></ng-select>
                <!--<p class="section-content" style='margin-top: 2px;' *ngIf='cargo.tipo == "Instrucción Pago"'>Detalle</p>-->
                <input type="text" *ngIf='cargo.tipo == "Instrucción Pago"' [(ngModel)]='cargo.detalle' style='width: 200px; margin-top: 5px;' (ngModelChange)="updateTotales()" [disabled]='liquidacionExists' placeholder="Detalle">
            </div>
            <div class="flex-column" style='margin-left: 10px;'>
                <!--<p class="section-content">Concepto</p>-->
                <input type="text" [(ngModel)]='cargo.concepto' style='width: 200px;' *ngIf='cargo.tipo != "Instrucción Pago"' [disabled]='liquidacionExists'>
                <ng-select [items]="instrucciones"  *ngIf='cargo.tipo == "Instrucción Pago"' bindLabel="nombre" [(ngModel)]='cargo.concepto' bindValue="nombre" style='width: 215px' [clearable]='false' (ngModelChange)='changeConcepto(i)'></ng-select>
                <!--<p class="section-content" style='margin-top: 2px;'>Valor</p>-->
                <input type="text" [(ngModel)]='cargo.valor' style='width: 192px; text-align: right; padding-right: 10px; margin-top: 5px; border: 1px solid #333' (ngModelChange)="updateTotales()" [disabled]='liquidacionExists'>
            </div>
        </div> 
        <div class="flex-row" style='justify-content: center; margin-top: 5px;' *ngIf='!liquidacionExists && selectedLiquidacion.fecha'>
            <div class="grey-button small" style='font-weight: 400; margin-right: 20px;' (click)='addCargo()'>
                Agregar
            </div>
    
            <div class="red-button small" *ngIf='selectedLiquidacion.cargos.length > 0' style='font-weight: 400;' (click)='removeCargo()'>
                Eliminar
            </div>
        </div>
    </div>
</div>

<div class="flex-column" *ngIf='selectedPropiedadId$.value != "" && !showPdf' style='margin-top: 10px; border-top: solid 1px black; padding-top: 10px'>
    <div class="flex-row" style="justify-content: space-between; margin-bottom: 10px;">

        <div class="flex-column">
            <p class='section-content'><b>Total Abonos: </b> ${{numberWithPoints(selectedLiquidacion.totalAbonos)}}</p>
        </div>

        <div class="flex-column">
            <p class='section-content'><b>Total Cargos: </b> ${{numberWithPoints(selectedLiquidacion.totalCargos)}}</p>
            <p class='section-content'><b>Subtotal: </b> ${{numberWithPoints(selectedLiquidacion.subtotal)}}</p>
        </div>

    </div>
    <div class="flex-row space-between" id='liquidacion-bottom' *ngIf='selectedLiquidacion.fecha'>

        <div class="flex-row">
            <div class="flex-column" style='margin-right: 10px;'>
                <p class="section-content">Fecha emisión</p>
                <dp-date-picker style='height: 30px;' [config]='datePickerConfig' [theme]='"dp-material"' [(ngModel)]='selectedLiquidacion.fechapago' [disabled]='true'></dp-date-picker>
            </div>
            <div class="flex-column" style='justify-content: center;' style='margin-right: 10px;'>
                <p class="section-content">Nro. Liquidación</p>
                <input type="text" [(ngModel)]='selectedLiquidacion.nroliquidacion' style='width: 100px;' [disabled]='true'>
            </div>
            <div class="flex-column" style='justify-content: center; margin-top: -6px;'>
                <p class="section-content">Observaciones</p>
                <input type="text" [(ngModel)]='selectedLiquidacion.observaciones' style='width: 300px;' [disabled]='liquidacionExists'>
            </div>
        </div>

        <div class="flex-column">
            <div class='green-button' *ngIf='!liquidacionExists && selectedLiquidacion.fecha' (click)='onGuardar()'>Aplicar</div>
            <div class='grey-button' *ngIf='liquidacionExists || !selectedLiquidacion.fecha' (click)='emitirInforme(true)'>Emitir copia</div>
        </div>
    </div>
</div>