<p class="title">Liquidación de arriendo</p>

<div class="flex-row">
    <div class="flex-column">
        <p class="section-content">Propiedad</p>
        <ng-select [items]="propiedades" bindLabel="uId" bindValue="_id" style='width: 535px'
                            [(ngModel)]='selectedPropiedadId' (ngModelChange)='changePropiedad(selectedPropiedadId)'>
            <ng-template class='flex-column' ng-option-tmp let-item="item">
                <p class="section-content">{{item.uId}}</p>
                <p class="section-content">{{item.direccionStr}}</p>        
            </ng-template>
        </ng-select>
        
        <div class='flex-column' *ngIf='selectedPropiedadId$.value != ""' style='margin-top: 10px;'>
            <p class="section-content">{{selectedPropiedad.direccionStr}}</p>
        
            <div class="flex-row">
                <div class="flex-column" style='justify-content: flex-end; margin-top: 10px;'>
                    <p class="section-content">Periodo</p>
                    <dp-date-picker [config]='datePickerConfig' [theme]='"dp-material"' [mode]='"month"' [(ngModel)]='date'
                                    (ngModelChange)='changePeriodo()'></dp-date-picker>
                </div>
                <div *ngIf='liquidacionExists; else noLiquidacion' style='display: flex; flex-direction: column; justify-content: center; align-items: center; flex:1;'>
                    <p class="section-content">Liquidación ya fue generada</p>
                </div>
        
                <ng-template #noLiquidacion>
                    <div class="flex-row" style='justify-content: center; align-items: center; flex: 1;' *ngIf='!selectedLiquidacion.fecha'>
                        <div class="grey-button" (click)='preparar()'>Preparar</div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    
    <div *ngIf='selectedPropiedadId$.value != ""' class="flex-column" style='margin-left: 10px; flex: 1; border-left: 1px solid #EEE; padding-left: 10px;'>
        <div class="flex-row">
            <div class="flex-column" style='flex:1;'>
                <p class="section-content">Forma pago</p>
                <ng-select [items]="formaspago" bindLabel="name" bindValue="name" style='width: 170px; margin-right: 10px;' [(ngModel)]='selectedLiquidacion.formapago' [disabled]='liquidacionExists'>
                </ng-select>
            </div>
            <div class="flex-column" style='margin-left: 10px; flex:1;'>
                <p class="section-content">Banco</p>
                <ng-select [items]="bancos$ | async" bindLabel="name" bindValue="name" style='width: 140px; margin-right: 10px;' [(ngModel)]='selectedLiquidacion.banco' [disabled]='liquidacionExists'>
                </ng-select>
            </div>
        </div>
        <div class="flex-row" style='margin-top: 10px'>
            <div class="flex-column">
                <p class="section-content">Cta. / Documento</p>
                <input type="text" style='width: 145px; text-align: right; padding-right: 10px;' [(ngModel)]='selectedLiquidacion.documento' [disabled]='liquidacionExists'>
            </div>
        </div>
    </div>
</div>

<div class="flex-row" *ngIf='selectedPropiedadId$.value != ""' style='margin-top: 20px; flex: 1; overflow: hidden;'>
    <div class="flex-column scrolled-section" *ngIf='selectedLiquidacion.fecha' style='flex: 1; border-right: 1px solid #DDD; margin-right: 10px; padding-right: 15px;'>
        <p class="section-title">Abonos</p>
        <div class='flex-row' *ngFor='let abono of selectedLiquidacion.abonos; index as i;'  style='margin-top: 10px; padding-bottom: 10px;'>
            <div class="flex-column">
                <p class="section-content">Concepto</p>
                <input type="text" [(ngModel)]='abono.concepto' style='width: 158px;' [disabled]='liquidacionExists'>
            </div>
            <div class="flex-column" style='margin-left: 10px;'>
                <p class="section-content">Valor</p>
                <input type="text" [(ngModel)]='abono.valor' style='width: 150px; text-align: right; padding-right: 10px;' (ngModelChange)="updateTotales()" [disabled]='liquidacionExists'>
            </div>
        </div> 
        <div class="flex-row" style='justify-content: center; margin-top: 10px;' *ngIf='!liquidacionExists && selectedLiquidacion.fecha'>
            <div class="grey-button" style='font-weight: 400; margin-right: 20px;' (click)='addAbono()'>
                Agregar
            </div>
    
            <div class="red-button" *ngIf='selectedLiquidacion.abonos.length > 0' style='font-weight: 400;' (click)='removeAbono()'>
                Eliminar
            </div>
        </div>
    </div>
    <div class="flex-column scrolled-section" *ngIf='selectedLiquidacion.fecha' style='flex: 1; border-right: 1px solid #DDD; margin-right: 10px; padding-right: 15px;'>
        <p class="section-title">Honorarios</p>
        <div class="flex-row" style='margin-top: 10px; padding-bottom: 10px;'>
            <div class="flex-column">
                <p class="section-content">Tipo</p>
                <ng-select [items]="tiposimpuestos" bindLabel="name" bindValue="name" style='width: 200px; ' [(ngModel)]='selectedLiquidacion.honorarios.tipo' [disabled]='liquidacionExists'>
                </ng-select>

                <p class="section-content" style='margin-top: 5px;'>Detalle</p>
                <input type="text" [(ngModel)]='selectedLiquidacion.honorarios.descripcion' style='width: 200px;' [disabled]='liquidacionExists'>
            </div>
            <div class="flex-column" style='margin-left: 10px;'>
                <p class="section-content">Valor</p>
                <input type="text" [(ngModel)]='selectedLiquidacion.honorarios.valor' style='width: 150px; text-align: right; padding-right: 10px;' [disabled]='liquidacionExists' (ngModelChange)="updateTotales()">

                <p class="section-content" style='margin-top: 5px;'>Impuestos</p>
                <input type="text" [(ngModel)]='selectedLiquidacion.honorarios.impuestos' style='width: 150px; text-align: right; padding-right: 10px;' [disabled]='liquidacionExists' (ngModelChange)="updateTotales()">                
            </div>
        </div>
        <p class="section-title">Cargos</p>
        <div class='flex-row' *ngFor='let cargo of selectedLiquidacion.cargos; index as i;'  style='margin-top: 10px;'>
            <div class="flex-column">
                <p class="section-content">Concepto</p>
                <input type="text" [(ngModel)]='cargo.concepto' style='width: 200px;' [disabled]='liquidacionExists'>
            </div>
            <div class="flex-column" style='margin-left: 10px;'>
                <p class="section-content">Valor</p>
                <input type="text" [(ngModel)]='cargo.valor' style='width: 150px; text-align: right; padding-right: 10px;' (ngModelChange)="updateTotales()" [disabled]='liquidacionExists'>
            </div>
        </div> 
        <div class="flex-row" style='justify-content: center; margin-top: 10px;' *ngIf='!liquidacionExists && selectedLiquidacion.fecha'>
            <div class="grey-button" style='font-weight: 400; margin-right: 20px;' (click)='addCargo()'>
                Agregar
            </div>
    
            <div class="red-button" *ngIf='selectedLiquidacion.cargos.length > 0' style='font-weight: 400;' (click)='removeCargo()'>
                Eliminar
            </div>
        </div>
    </div>
</div>

<div class="flex-column" *ngIf='selectedPropiedadId$.value != ""' style='margin-top: 10px; border-top: solid 1px black; padding-top: 10px'>
    <div class="flex-row" style="justify-content: space-between; margin-bottom: 10px;">

        <div class="flex-column">
            <p class='section-content'><b>Total Abonos: </b> {{selectedLiquidacion.totalAbonos}}</p>
        </div>

        <div class="flex-column">
            <p class='section-content'><b>Total Cargos: </b> {{selectedLiquidacion.totalCargos}}</p>
            <p class='section-content'><b>Subtotal: </b> {{selectedLiquidacion.subtotal}}</p>
        </div>

    </div>
    <div class="flex-row" style='justify-content: flex-end;'>
        <div [ngClass]='{"green-button": !liquidacionExists && selectedLiquidacion.fecha, "grey-button": liquidacionExists || !selectedLiquidacion.fecha}' (click)='onGuardar()'>Aplicar</div>
    </div>
</div>