<div class="flex-row" style='justify-content: space-between;'>
    <div class="flex-column">
        <p class='section-content'>Nombre</p>
        <input type="text" [(ngModel)]='_usuario.displayname' style='width:220px;'>
    
        <p class='section-content' style='margin-top: 15px;'>Nombre de usuario</p>
        <input type="text" [(ngModel)]='_usuario.username' style='width:220px;'>
    
        <p class='section-content' style='margin-top: 15px;'>Encabezado informes linea 1</p>
        <input type="text" [(ngModel)]='_usuario.inflinea1' style='width:320px;'>
        <p class='section-content' style='margin-top: 15px;'>Encabezado informes linea 2</p>
        <input type="text" [(ngModel)]='_usuario.inflinea2' style='width:320px;'>
    </div>
    
    <div class="flex-column">
        <p class='section-content'>Email</p>
        <input type="text" [(ngModel)]='_usuario.email' style='width:220px;'>
    
        <p *ngIf='!nuevo' class='section-content' style='margin-top: 25px;'>Creado el</p>
        <p *ngIf='!nuevo' class='section-content'>{{formatDate(_usuario.creationDate)}}</p>

        

        <div class="flex-column" *ngIf='nuevo' style='margin-top: 15px;'>
            <p class='section-content'>Contraseña</p>
            <input type="password" [(ngModel)]='new_pass' style='width:220px;'>
            <p class='section-content' style='margin-top: 10px;'>Repetir Contraseña</p>
            <input type="password" [(ngModel)]='new_pass_repeat' style='width:220px;'>

            <div class="flex-row" style='justify-content: flex-end; margin-top: 50px;'>
                <div class="green-button" (click)='onCreateUser()'>
                    Guardar
                </div>
            </div>
        </div>
    </div>
    
    <div class="flex-column" style='justify-content: space-between;'>
        <div class="flex-column" *ngIf='!self && !nuevo'>
            <div class="flex-row" style='justify-content: flex-end; margin-top: 10px;'>
                <div class="red-button" (click)='onDeleteuser()'>
                    Eliminar
                </div>
            </div>
        
            <div class="flex-row" style='justify-content: flex-end; margin-top: 25px;'>
                <div class="blue-button" (click)='reiniciarContrasena()'>
                    Reiniciar contraseña
                </div>
            </div>
        </div>

        <div class="flex-column" *ngIf='self && !nuevo'>
            <p class='section-title' style='margin-top: 15px;'>Cambiar contraseña</p>
            <p class='section-content'>Nueva contraseña</p>
            <input type="password" [(ngModel)]='new_pass' style='width:320px;'>
            <p class='section-content' style='margin-top: 10px;'>Repetir nueva contraseña</p>
            <input type="password" [(ngModel)]='new_pass_repeat' style='width:320px;'>
        
            <div class="flex-row" style='justify-content: flex-end; margin-top: 25px; margin-bottom: 10px;'>
                <div class="blue-button" (click)='cambiarContrasena()'>
                    Cambiar contraseña
                </div>
            </div>
        </div>

        <div class="flex-row" style='justify-content: flex-end;' *ngIf='!nuevo'>
            <div class="green-button" (click)='onGuardar()'>
                Guardar
            </div>
        </div>
        <div class="flex-row" style='justify-content: flex-end; margin-top: 10px;' *ngIf='self'>
            <div class="blue-button" (click)='logout()'>
                Cerrar Sesion
            </div>
        </div>
    </div>
</div>

<div class="flex-column" *ngIf='self' id='permissions'>
    <p class="section-title">Permisos a usuarios</p>
    <p class="section-content">Usuario</p>
    <ng-select [items]="users | async" 
            bindLabel="displayname" 
            bindValue="_id"
            [(ngModel)]="selectedUser"
            [clearable]='false'
            (ngModelChange)='changeSelectedUser()'
            style='width: 250px'>
    </ng-select>
    <div class="flex-column" style='justify-content: space-between; flex:1'>
        <div class="flex-row" *ngIf='selectedUser != ""' style="justify-content: space-between;">
            <div class="flex-column" style='flex-wrap: wrap;'>
                <p class="section-subtitle" style='margin-top: 5px;'>Datos básicos</p>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.propiedades'><p class="section-content">Propiedades</p></div>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.mandatos'><p class="section-content">Mandatos</p></div>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.contratos'><p class="section-content">Contratos</p></div>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.personas'><p class="section-content">Mandantes y arrendatarios</p></div>
            </div>
            <div class="flex-column">
                <p class="section-subtitle" style='margin-top: 5px;'>Acciones</p>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.ingresos'><p class="section-content">Ingresos</p></div>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.egresos'><p class="section-content">Egresos</p></div>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.liquidacion'><p class="section-content">Liquidación</p></div>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.pagos'><p class="section-content">Recibo de arriendo</p></div>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.cierresmes'><p class="section-content">Cierre de mes</p></div>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.reajustesrentas'><p class="section-content">Reajuste de rentas</p></div>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.reajusteextraordinario'><p class="section-content">Reajuste extraordinario</p></div>
            </div>

            <div class="flex-column" style='margin-top: 5px;'>
                <p class="section-subtitle">Informes</p>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.infpropiedades'><p class="section-content">Informe de propiedades</p></div>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.infreajustes'><p class="section-content">Informe de reajustes</p></div>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.resumenliq'><p class="section-content">Resumen de liquidaciones</p></div>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.resumenpago'><p class="section-content">Resumen de arriendos</p></div>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.estadopagos'><p class="section-content">Estado de pagos</p></div>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.instpago'><p class="section-content">Instrucciones de pago</p></div>
            </div>
            <div class="flex-column" style='margin-right: 10px;'>
                <p class="section-subtitle" style='margin-top: 5px;'>Parametros</p>
                <div class="flex-row" style='align-items: center;'><input type="checkbox" name="" id="" [(ngModel)]='permissions.parametros'><p class="section-content">IPC y UF</p></div>
            </div>
        </div>
        <div class="flex-row" *ngIf='selectedUser != ""' style="justify-content: flex-end; margin-bottom: 5px; margin-right: 5px;" (click)='savePermissions()'>
            <div class="green-button">
                Guardar
            </div>
        </div>
    </div>
</div>