<div id='wrapper-edit' *ngIf='propiedad !== undefined'>
    <div id="columns">
        <div id='column-1' class="flex-column space-between">
            <div>
                <p class='section-title'>Código</p>
                <input size="10" type="text" [(ngModel)]='propiedad.uId'>
            </div>
            <div>
                <div class="flex-row space-between">
                    <p class='section-title'>Dirección</p>
                    <p class='clickable-text'>Editar dirección</p>
                </div>
                <div class="flex-column">
                    <input type="text" [(ngModel)]='propiedad.direccionStr'>
                    <div class="flex-row space-between">
                        <div class="flex-column space-between">
                            <div class="flex-column">
                                <p class='section-subtitle'>Calle</p>
                                <p class='section-content'>{{ propiedad.direccionData.calle }}</p>
                            </div>
                            <div class="flex-column">
                                <p class='section-subtitle'>Casa / depto</p>
                                <p class='section-content'>{{ propiedad.direccionData.depto }}</p>
                            </div>
                            <div class="flex-column">
                                <p class='section-subtitle'>Ciudad</p>                            
                                <p class='section-content'>{{ propiedad.direccionData.ciudad }}</p>
                            </div>
                        </div>
                        <div class="flex-column space-between">
                            <div style='display: flex; flex-direction: column;'>
                                <p class='section-subtitle'>Numero</p>
                                <p class='section-content'>{{ propiedad.direccionData.numero }}</p>
                            </div>
                            <div style='display: flex; flex-direction: column;'>
                                <p class='section-subtitle'>Comuna</p>
                                <p class='section-content'>{{ propiedad.direccionData.comuna }}</p>
                            </div> 
                            <div style='display: flex; flex-direction: column;'>
                                <p class='section-subtitle'>Región</p>
                                <p class='section-content'>{{ propiedad.direccionData.region }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div style='display: flex; flex-direction: row;'>
                    <div style='display: flex; flex-direction: column; flex: 1;'>
                        <p class='section-title'>Rol SII</p>
                        <input type="text" [(ngModel)]='propiedad.rolsii'>
                    </div>
                    <div style='display: flex; flex-direction: column; align-items: center; flex: 1;'>
                        <p class='section-title'>Arrendada</p>
                        <input type="checkbox">
                    </div>
                </div>
            </div>
        </div>

        <div id='column-2' class="flex-column space-between">
            <div class="flex-row space-between">
                <p class='section-title'>Mandante</p>
                <p class='clickable-text'>Editar Persona</p>
            </div>

            
            <input type="text" [(ngModel)]='propiedad.mandanteData.nombre'>
            <div class="flex-row space-between">
                <div class="flex-column space-between">
                    <div class="flex-column">
                        <p class='section-subtitle'>Rut</p>
                        <p class='section-content'>{{ propiedad.mandanteData.rut }}</p>
                    </div>
                </div>
            </div>
            <div style='display: flex; flex-direction: row; justify-content: space-between;'>
                <div style='display: flex; flex-direction: column;'>
                    <p class='section-subtitle'>Telefonos</p>                            
                    <p *ngFor="let telefono of propiedad.mandanteData.telefonos" class='section-content'>{{ telefono }}</p>
                </div>
                <div style='display: flex; flex-direction: column;'>
                    <p class='section-subtitle'>Emails</p>                            
                    <p *ngFor="let email of propiedad.mandanteData.emails" class='section-content'>{{ email }}</p>
                </div>
            </div>

            <div style='display: flex; flex-direction: row; justify-content: space-between;'>
                <p class='section-title'>Administrador</p>
                <p class='clickable-text'>Editar Persona</p>
            </div>

            <input type="text" [(ngModel)]='propiedad.administradorData.nombre'>
            <div style='display: flex; flex-direction: row; justify-content: space-between;'>
                <div style='display: flex; flex-direction: column; justify-content: space-between;'>
                    <div style='display: flex; flex-direction: column;'>
                        <p class='section-subtitle'>Rut</p>
                        <p class='section-content'>{{ propiedad.administradorData.rut }}</p>
                    </div>
                </div>
            </div>
            <div style='display: flex; flex-direction: row; justify-content: space-between;'>
                <div style='display: flex; flex-direction: column;'>
                    <p class='section-subtitle'>Telefonos</p>                            
                    <p *ngFor="let telefono of propiedad.administradorData.telefonos" class='section-content'>{{ telefono }}</p>
                </div>
                <div style='display: flex; flex-direction: column;'>
                    <p class='section-subtitle'>Emails</p>                            
                    <p *ngFor="let email of propiedad.administradorData.emails" class='section-content'>{{ email }}</p>
                </div>
            </div>

        </div>

        <div id='column-3' class="flex-column">
            <p class='section-title' style="margin-bottom: 5px;">Características</p>
            
            <div id='column-3' style="display: flex; flex-direction: row;">
                <div style="display: flex; flex-direction: column; margin-right: 33px;">
                    <p class='section-subtitle'>Año edificación</p>
                    <input size="6" type="text" [(ngModel)]='propiedad.caracteristicas.anoedificacion'>

                    <p class='section-subtitle'>Mts2 construidos</p>
                    <input size="6" type="text" [(ngModel)]='propiedad.caracteristicas.mtsconstruidos'>
                    
                    <p class='section-subtitle'>Habitaciones</p>
                    <input size="6" type="text" [(ngModel)]='propiedad.caracteristicas.habitaciones'>

                    <p class='section-subtitle'>Salas</p>
                    <input size="6" type="text" [(ngModel)]='propiedad.caracteristicas.salas'>

                    <p class='section-subtitle'>Piezas servicio</p>
                    <input size="6" type="text" [(ngModel)]='propiedad.caracteristicas.piezasservicio'>

                    <p class='section-subtitle'>Estacionamientos</p>
                    <input size="6" type="text" [(ngModel)]='propiedad.caracteristicas.estacionamientos'>

                    <p class='section-subtitle'>Otros</p>
                    <input size="10" type="text" [(ngModel)]='propiedad.caracteristicas.otros'>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <p class='section-subtitle'>Mts2 terreno</p>
                    <input size="6" type="text" [(ngModel)]='propiedad.caracteristicas.mtsterreno'>

                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div style="display: flex; flex-direction: column;">
                            <p class='section-subtitle'>Pisos</p>
                            <input size="2" type="text" [(ngModel)]='propiedad.caracteristicas.pisos'>
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <p class='section-subtitle'>Baños</p>
                            <input size="2" type="text" [(ngModel)]='propiedad.caracteristicas.banos'>
                        </div>
                    </div>
                    
                    <p class='section-subtitle'>Comedores</p>
                    <input size="6" type="text" [(ngModel)]='propiedad.caracteristicas.comedores'>

                    <p class='section-subtitle'>Living comedor</p>
                    <input size="6" type="text" [(ngModel)]='propiedad.caracteristicas.livcomedor'>

                    <p class='section-subtitle'>Baños servicio</p>
                    <input size="6" type="text" [(ngModel)]='propiedad.caracteristicas.banosservicio'>

                    <p class='section-subtitle'>Bodegas</p>
                    <input size="6" type="text" [(ngModel)]='propiedad.caracteristicas.bodegas'>

                    <div style='display: flex; flex-direction: column; align-items: center; flex: 1;'>
                        <p class='section-title'>Arrendada</p>
                        <input type="checkbox">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom-row" style="margin-top: 26px;">
        <div style='flex: 1;'>
            <div class='red-button'>
                Eliminar propiedad
            </div>
        </div>
        <div class='flex-row' style='flex: 2; justify-content: space-around;'>
            <div class='grey-button'>
                Ver mandato
            </div>
        </div>
        <div class='flex-row' style='flex: 1; justify-content: flex-end;'>
            <div class='grey-button'>
                Cancelar
            </div>
            <div class='green-button'>
                Guardar
            </div>
        </div>
    </div>
</div>
