:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#wrapper-edit{
    margin-right: 50px;
    margin-left: 35px;
    margin-top: 13px;
    margin-bottom: 19px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#columns{
    display: flex;
    flex-direction: row;
    flex: 1;
}

#column-1{
    flex: 1;
    margin-right: 72px;
}

#column-2{
    flex: 1.5;
    margin-right: 72px;
}

#column-3{
    flex: .5;
}

#bottom-row{
    display: flex;
    flex-direction: row;
}