<div id="wrapper">
    <div id="top-panel">
        <div id="title-panel">
            <h2><span>Acciones </span></h2>
        </div>
    </div>
    <div class="flex-row" style='flex: 1; overflow: hidden;'>
        <div id="acciones-list" class='scrolled-section'>        
            <div class='accion-item' *ngFor="let accion of acciones; index as i" [routerLink]='accion.path'>
                {{ accion.nombre }}
            </div>
        </div>
        <div *ngIf='noSelected' id='values-placeholder'>
            <p>Haz click en una opción para empezar</p>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>