<p class="title">Reajuste de rentas</p>

<div class="flex-row space-between">
    <div class="flex-column">
        <p class="section-content">Periodo a reajustar</p>
        <dp-date-picker [config]='datePickerConfig' [theme]='"dp-material"' [(ngModel)]='periodoReajustar' [mode]='"month"' (ngModelChange)='changePeriodo()'></dp-date-picker>
    </div>
    <div class="grey-button" *ngIf='!reajusteExists && !cargandoReajustes' (click)='OnPrepararClick()'>Preparar</div>
    <div *ngIf='reajusteExists'>Reajustes del periodo ya aplicados</div>
</div>

<div class="flex-column" id='reajustes-list' [ngClass]='{"disabled": reajusteExists, "scrolled-section": true}'>
    <div *ngFor='let reajuste of reajustesExtraordinarios; index as i'>
        <div class="flex-row space-between reajuste-item" *ngIf='reajuste.reajuste?.toString()'>
            <div class="flex-column space-between">
                <p class="section-subtitle-disabled">Reajuste extraordinario</p>
                <p class='section-content'>{{formatDate(reajuste.fecha)}}</p>
            </div>

            <div class="flex-column" style='margin-left: 20px; flex: 1;'>
                <p class="section-content">{{reajuste.propiedadData.uId}}</p>
                <p class="section-content">{{formatDireccion(reajuste.propiedadData)}}</p>
            </div>
            <div class="flex-column" style='justify-content: center; align-items: center;'>
                <div class="flex-row" style='justify-content: center; align-items: center;'>
                    <p class="section-content">{{reajuste.valorinicial}}</p>
                    <div class="flex-column" style="align-items: center; justify-content: center; margin-left: 10px; margin-right: 10px;">
                        <p class="section-content" style='color: #888;' *ngIf='reajuste.tipo=="Porcentual"'>(+ {{formatDecimal(reajuste.reajuste)}} %)</p>
                        <p class="section-content" style='color: #888;' *ngIf='reajuste.tipo=="Absoluto"'>(+ ${{formatDecimal(reajuste.reajuste)}} )</p>
                        <div class="persona-icon" [inlineSVG]="'assets/icon/arrow.svg'" style='width: 30px; height: 20px;'></div>
                    </div>
                    <p class="section-content">{{reajuste.valorfinal}}</p>
                </div>                
            </div>
        </div>
    </div>

    <div *ngFor='let reajuste of reajustes; index as i'>
        <div class="flex-row space-between reajuste-item" *ngIf='reajuste.reajuste?.toString()' [ngClass]='{"disabled": !reajuste.aplicar}'>
            <div class="flex-column space-between">
                <p class="section-subtitle-disabled" *ngIf='reajuste.tipo=="Automatico"'>Reajuste</p>
                <p class="section-subtitle-disabled" *ngIf='reajuste.tipo=="Extraordinario"'>Reajuste extraordinario</p>
                <p class='section-content'>{{formatDate(reajuste.fecha)}}</p>
            </div>

            <div class="flex-column" style='margin-left: 20px; flex: 1;'>
                <p class="section-content">{{reajuste.propiedadData.uId}}</p>
                <p class="section-content">{{formatDireccion(reajuste.propiedadData)}}</p>
            </div>
            <div class="flex-column" style='margin-right: 10px; justify-content: center;' *ngIf='reajuste.tiempo'>
                <p class="section-content" style='color: #777'>({{reajuste.tiempo}})</p>
            </div>
            <div class="flex-column" style='justify-content: center; align-items: center;'>
                <div class="flex-row" style='justify-content: center; align-items: center;'>
                    <p class="section-content">{{reajuste.valorinicial}}</p>
                    <div class="flex-column" style="align-items: center; justify-content: center; margin-left: 10px; margin-right: 10px;">
                        <p class="section-content" style='color: #888;'>(+ {{formatDecimal(((reajuste.valorfinal / reajuste.valorinicial) - 1) * 100)}} %)</p>
                        <div class="persona-icon" [inlineSVG]="'assets/icon/arrow.svg'" style='width: 30px; height: 20px;'></div>
                    </div>
                    <p class="section-content">{{reajuste.valorfinal}}</p>
                </div>                
            </div>
            
            <div class="flex-column" style='margin-left: 10px; justify-content: center; align-items: center;' *ngIf='!reajusteExists'>
                <p class="section-subtitle-small">Aplicar</p>
                <input type="checkbox" [ngModel]='reajuste.aplicar' (ngModelChange)='changeReajusteAplicar(i)'>
            </div>
        </div>
    </div>

    <div class="flex-row" style='flex: 1; justify-content: center; align-items:center;' *ngIf='reajustePreparado && reajustes.length == 0 && reajustesExtraordinarios.length == 0'>
        <p class="big-noinfo-text">No hay propiedades que reajustar</p>
    </div>
</div>

<div class="flex-column"*ngIf='ipc_ultimo.length > 0' style='margin-bottom: 15px;'>
    <p class="section-title">Valores IPC último año</p>
    <div class="flex-row" style='justify-content: space-between; align-items: center;'>
        <div class="flex-column" *ngFor='let ipc_ of ipc_ultimo' style='justify-content: center; align-items: center; flex: 1; margin-right: 2px; margin-left: 2px;'>
            <p class="section-subtitle-disabled" style='flex-wrap: wrap; text-align: center;'>{{ipc_.mes}}</p>
            <p class="section-content">{{ipc_.valor}}</p>
        </div>
    </div>
</div>

<div class="green-button" style='text-align: center;' *ngIf='reajustePreparado && !reajusteExists' (click)='aplicar()'>Aplicar</div>