:host(){
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#big-shadow{
    position: absolute;
    background-color: rgba(0,0,0,.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#top-panel{
    display: flex;
    flex-direction: column;

    background-color: #EFF5F7;
    padding-left: 40px;
    padding-right: 45px;

    border-bottom: 1px rgba(16, 67, 93, .1) solid;
}

#title-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#new-propiedad-button{
    background-color: #0070E1;
    color: white;
    fill: white;

    width: 200px;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 600;
    border-radius: 11px;

    cursor: pointer;
}

.button-icon{
    width: 20px;
    height: 20px;
    margin-right: 17px;
}

#content{
    display: flex;
    flex: 1;
    overflow: auto;
}

#box{
  min-height: -min-content;
  display: flex;
}

#card-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-top: 28px;
    padding-left: 18px;
    padding-right: 18px;

    align-content: flex-start;
}

.persona-card{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 1px #ABABAB solid;
    background-color: white;

    width: 420px;
    height: 140px;

    padding-left: 26px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 24px;

    margin-bottom: 37px;
    margin-right: 10px;
    margin-left: 15px;

    box-shadow: 2px 1px 4px 2px rgba(220,220,220,1);
}

.icon-column{
    justify-content: space-around;
}

.persona-icon{
    width: 90px;
    height: 90px;
    margin-right: 0px;
    padding-right: 21px;
    fill:#8F8F8F;
}

.content-column{
    width: 219px;
}

.card-title{
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    padding-right: 5px;
    flex:1;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-rut{
    font-size: 11px;
    color: #ACACAC;
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
}

.card-content{
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hidden{
    display: none;
}