<div>
    <div @fadeIn id="left-panel">
        <div id="name-wrapper">
            <h2 style="color:#449BF3;">Neurona</h2>
            <h2>Solutions</h2>
        </div>
        <!-- <div id="links-wrapper">
            <a href="#">¿No tienes un usuario?</a>
            <a href="#">¿Olvidaste tu contraseña?</a>
        </div> -->
    </div>
    <div id="center-content">
        <div id="logo-container">
            <img @fadeIn src="assets/icon/logoabrace.jpg" alt="Logo" id="logo-image">
        </div>
        <app-log-in></app-log-in>
    </div>
    <div @fadeIn id="right-panel">
        <p>v1.0.0</p>
    </div>
</div>