<p class='title'>Resumen de arriendos</p>
<div class="flex-row" style='justify-content: space-between; margin-bottom: 15px;'>
    <div class="column">
        <p class="secion-content">Periodo</p>
        <dp-date-picker [config]='datePickerConfig' [theme]='"dp-material"' [(ngModel)]='date' [mode]='"month"'></dp-date-picker>
    </div>
    <div class="column" style='justify-content: center;'>
        <div class="green-button" (click)='onGenerar()'>
            Generar
          </div>
    </div>
</div>
<ng2-pdfjs-viewer style='flex:1;' #pdfViewer></ng2-pdfjs-viewer>