<div id="wrapper">
    <div id="top-panel">
        <div id="title-panel">
            <h2><span>Propiedades </span> <span style='color:#848484;'>{{statusText}}</span></h2>
            <div *ngIf="indexEditing==-1" id="new-propiedad-button"><div class="button-icon" [inlineSVG]="'assets/icon/lapiz.svg'"></div> Nueva Propiedad</div>
        </div>
        <div id="table-titles">
            <p style='flex:1; margin-right: 7px;'>Código</p>
            <p style='flex:3; margin-right: 10px;'>Dirección</p>
            <p style='flex:3; margin-right: 10px;'>Mandante</p>
            <p style='flex:3; margin-right: 10px;'>Arrendatario</p>
            <p style='flex:2.5; margin-right: 10px;'>Estado</p>
            <div style='margin-top: 12px; margin-right: 29px;' [inlineSVG]="'assets/icon/Sort.svg'"></div>
        </div>
    </div>
    <div id="propiedades-list">
        <div [ngClass]="propiedadesClass(i)" *ngFor="let prop of propiedades; index as i;">
            <p style='flex:1; margin-right: 10px;'>{{prop.uId}}</p>
            <p style='flex:3; margin-right: 10px;'>{{prop.direccionStr}}</p>
            <p style='flex:3; margin-right: 10px;'>{{prop.mandanteData.nombre}}</p>
            <p style='flex:3; margin-right: 10px;'>{{prop.arrendatario}}</p>
            <p style='flex:2.5; margin-right: 10px;'>Estado</p>
            <div (click)="dotMenuClicked(i)" class='dot-menu' style='margin-right: 29px; width: 21px; cursor:pointer;' [inlineSVG]="'assets/icon/Menu.svg'"></div>
            <div style="position: relative; width: 0; height: 0">
                <div class="menu-box">
                    <ul>
                        <li style="float: right; font-size: 20px; margin-right: 20px; margin-top: -15px;" (click)="indexSelected = -1;">x</li>
                        <li><div style='width: 21px; display: inline-block;' [inlineSVG]="'assets/icon/lapiz_color.svg'"></div>Ver mandato</li>
                        <li><div style='width: 21px; display: inline-block;' [inlineSVG]="'assets/icon/lapiz_color.svg'"></div>Nuevo contrato</li>
                        <li><div style='width: 21px; display: inline-block;' [inlineSVG]="'assets/icon/lapiz_color.svg'"></div>Ver último contrato activo</li>
                        <li (click)='editPropiedad(i)'><div style='width: 21px; display: inline-block;' [inlineSVG]="'assets/icon/lapiz_color.svg'"></div>Editar propiedad</li>
                        <li><div style='width: 21px; display: inline-block;' [inlineSVG]="'assets/icon/lapiz_color.svg'"></div>Eliminar propiedad</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <app-edit-propiedad *ngIf="indexEditing != -1" [propiedad]="propiedades[indexEditing]"></app-edit-propiedad>
</div>