<div id="main" class='inner-wrapper-small'>
    <div class="flex-column" style='flex: 1; overflow: hidden;'>
        <div *ngIf='mandatoSelected._id != ""; else NoMandatos' class='flex-row' style='flex: 1; overflow: hidden;'>
            <div class='flex-column' id="column-1" style='flex:1; justify-content: space-evenly;'>
                <div class="flex-row">
                    <div class="flex-column medium-margin-right" style='flex:1;'>
                        <p class='section-subtitle-disabled'>Fecha inicio</p>
                        <dp-date-picker [config]='datePickerConfig' [theme]='"dp-material"' [displayDate]='inicioDisplay' [(ngModel)]='inicioPlaceholder' (ngModelChange)='updateInicio()'></dp-date-picker>
                    </div>
                    <div class="flex-column" style='flex:1;'>
                        <p class='section-subtitle-disabled'>Fecha termino</p>
                        <dp-date-picker [config]='datePickerConfig' [theme]='"dp-material"' [(ngModel)]='terminoPlaceholder' (ngModelChange)='updateTermino()'></dp-date-picker>
                    </div>
                </div>
                
                <div class="flex-column">
                    <p class="section-title">Comisiones</p>
                    <div class="flex-row">
                        <div class="flex-column">
                            <p class="section-subtitle-small" style='margin-bottom: 7px;'>Administración</p>
                            <div class="flex-row">
                                <ng-select [items]="funcionComision$ | async" 
                                        bindLabel="name" 
                                        bindValue="name"
                                        [(ngModel)]="mandatoSelected.comisiones.tipoadm"
                                        [clearable]='false'
                                        style='margin-right: 5px; width: 120px'>
                                </ng-select>
                                <input type="text" [(ngModel)]='mandatoSelected.comisiones.valoradm' style='width:80px; margin-right: 12px; text-align: end; padding-left: 1px; padding-right: 10px;'>
                            </div>
    
                            <div class="flex-row" style='margin: 5px; justify-content: space-between;'>
                                <div class="flex-column">
                                    <p class="section-subtitle-small" style='margin-bottom: 3px; margin-top: 5px;'>Impuesto</p>
                                    <div class="flex-row" style='align-items: center;'>
                                        <p class="section-content" style='margin-right: 5px;'>%</p>
                                        <input type="text" [(ngModel)]='mandatoSelected.comisiones.impuestoadm' style='width:50px; margin-right: 8px; text-align: end; padding-left: 1px; padding-right: 10px;'>
                                    </div>
                                </div>
                                <div class="flex-column"  style='justify-content: space-evenly;'>
                                    <div class="flex-row">
                                        <input type="radio" name='A' id="incluidoAdmTrue" [value]='true' [(ngModel)]="mandatoSelected.comisiones.admimpuestoincluido">
                                        <label for="incluidoAdmTrue">Incluido</label>
                                    </div>
                                    <div class="flex-row">
                                        <input type="radio" name='A' id="masAdmTrue" [value]='false' [(ngModel)]="mandatoSelected.comisiones.admimpuestoincluido">
                                        <label for="masAdmTrue">+ impuestos</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-column">
                            <div class="flex-row space-between">
                                <p class="section-subtitle-small">Contrato</p>
                                <div class="section-subtitle-small" style='align-items: center; display: flex; flex-direction: row;'>
                                    <input type="checkbox" [(ngModel)]='mandatoSelected.comisiones.incluirhononadmin'> Incluye administración
                                </div>
                            </div>
                            <div class="flex-row">
                                <ng-select [items]="funcionComision$ | async" 
                                        bindLabel="name" 
                                        bindValue="name"
                                        [(ngModel)]="mandatoSelected.comisiones.tipocontrato"
                                        [clearable]='false'
                                        style='margin-right: 5px; width: 120px'>
                                </ng-select>
                                <input type="text" [(ngModel)]='mandatoSelected.comisiones.valorcontrato' style='width:80px; text-align: end; padding-left: 1px; padding-right: 10px;'>
                            </div>
    
                            <div class="flex-row" style='margin: 5px; justify-content: space-between;'>
                                <div class="flex-column">
                                    <p class="section-subtitle-small" style='margin-bottom: 3px; margin-top: 5px;'>Impuesto</p>
                                    <div class="flex-row" style='align-items: center;'>
                                        <p class="section-content" style='margin-right: 5px;'>%</p>
                                        <input type="text" [(ngModel)]='mandatoSelected.comisiones.impuestocontrato' style='width:50px; margin-right: 8px; text-align: end; padding-left: 1px; padding-right: 10px;'>
                                    </div>
                                </div>
                                <div class="flex-column"  style='justify-content: space-evenly;'>
                                    <div class="flex-row">
                                        <input type="radio" name='contrato' id="incluidoContTrue" [value]='true' [(ngModel)]="mandatoSelected.comisiones.contratoimpuestoincluido">
                                        <label for="incluidoContTrue">Incluido</label>
                                    </div>
                                    <div class="flex-row">
                                        <input type="radio" name='contrato' id="masContTrue" [value]='false' [(ngModel)]="mandatoSelected.comisiones.contratoimpuestoincluido">
                                        <label for="masContTrue">+ impuestos</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="flex-column">
                    <p class="section-title">Liquidación</p>
                    <div class="flex-row"> 
                        <div class="flex-column" style='flex: 1;'>
                            <p class="section-subtitle-small">Forma de pago</p>
                            <ng-select [items]="formasPago$ | async" 
                                        bindLabel="name" 
                                        bindValue="name"
                                        [(ngModel)]="mandatoSelected.liquidacion.formapago"
                                        [clearable]='false'
                                        style='height: 32px; margin-right: 5px;'>
                            </ng-select>
                        </div>
                        <div class="flex-column"  style='flex: 1;'>
                            <p class="section-subtitle-small">Cuenta</p>
                            <input type="text" [(ngModel)]='mandatoSelected.liquidacion.cuenta' style='width:140px; margin-right: 5px; height: 32px;'>
                        </div>
                        <div class="flex-column" style='flex: 1;'>
                            <p class="section-subtitle-small">Banco</p>
                            <ng-select [items]="bancos$ | async" 
                                    bindLabel="name" 
                                    bindValue="name"
                                    [(ngModel)]="mandatoSelected.liquidacion.banco"
                                    [clearable]='false'
                                    style='height: 32px; margin-right: 5px;'>
                            </ng-select>
                            <!--<input type="text" [(ngModel)]='mandatoSelected.liquidacion.banco' style='max-width:140px;  height: 32px;'>-->
                        </div>             
                    </div>
                    <div class="flex-row" style='height: 35px; align-items: center; margin-top: 8px; justify-content: space-between;'>
                        <p class="section-subtitle-small" style='margin-top: 5px;'>Efectuar pago a </p>
                        <input type="text" [(ngModel)]='mandatoSelected.liquidacion.pagoa' style='max-width:440px;  height: 32px;'>
                    </div>
                </div>
    
                <div class="flex-column">
                    <div class="flex-row" style='flex:1;'>
                        <div class="flex-column" style='flex:1; justify-content: center;'>
                            <p class="section-subtitle">Envío correspondencia</p>
                            <div class="flex-row">
                                <input type="radio" name='Correspondencia' id="correspRes" [value]='"Residencia"' [(ngModel)]="mandatoSelected.enviocorresp">
                                <label for="correspRes">Residencia</label>
                            </div>
                            <div class="flex-row">
                                <input type="radio" name='Correspondencia' id="correspOf" [value]='"Oficina"' [(ngModel)]="mandatoSelected.enviocorresp">
                                <label for="correspOf">Oficina</label>                        
                            </div>
                        </div>
                        <div class="flex-column" style='flex:1; justify-content: center;'>
                            <p class="section-subtitle">Firma contratos</p>
                            <div class="flex-row">
                                <input type="radio" name='Contratos' id="contratosOfi" [value]='"Oficina"' [(ngModel)]="mandatoSelected.firmacontrato">
                                <label for="contratosOfi">Oficina</label>
                            </div>
                            <div class="flex-row">
                                <input type="radio" name='Contratos' id="contratosMand" [value]='"Mandante"' [(ngModel)]="mandatoSelected.firmacontrato">
                                <label for="contratosMand">Mandante</label>                        
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
    
            <div class="flex-column space-between" id="column-2" style='flex: 1; overflow: hidden;'>
                <div class="flex-column" style='flex: 1; overflow: hidden;'>
                    <p class="section-title">Otros destinatarios</p>
                    <div class="scrolled-section" id='otros-destinatarios'>
                        <div class='flex-column medium-margin-bottom' *ngFor='let persona of mandatoSelected.otrosdestinatarios; index as j;'>
                            <div class="flex-row">
                                <div class="flex-column">
                                    <p class="section-subtitle-small">Nombre</p>
                                    <input type="text" [(ngModel)]='persona.nombre' style='width:135px; margin-right: 5px; margin-bottom: 5px;' class='small-margin-bottom'>
                                </div>
                                <div class="flex-column" style='justify-content: flex-end;'>
                                    <div class="grey-button small" (click)='removeOtrosDestinatarios(j)' style='margin-bottom: 5px; margin-right: 5px; width: 100px; text-align: center;'>Eliminar</div>
                                </div>
                            </div>
                            <div class="flex-row" style='margin-top: 5px; justify-content: flex-start;'>
                                <!--<div class="flex-column">
                                    <p class="section-subtitle-small">Moneda</p>
                                    <input type="text" [(ngModel)]='persona.moneda'style='width:135px; margin-right: 5px; height: 32px;'>
                                </div>-->
                                <div class="flex-column">
                                    <p class="section-subtitle-small">Tipo</p>
                                    <ng-select [items]="funcionComision$ | async" 
                                        bindLabel="name" 
                                        bindValue="name"
                                        [(ngModel)]="persona.tipocalculo"
                                        [clearable]='false'
                                        style='margin-right: 5px; width: 150px'>
                                    </ng-select>
                                </div>
                                <div class="flex-column">
                                    <p class="section-subtitle-small">Monto</p>
                                    <input type="text" [(ngModel)]='persona.monto' style='width:135px; height: 32px;'>
                                </div>
                            </div>
                            <div class="flex-row" style='margin-top: 5px; justify-content: flex-start;'> 
                                <div class="flex-column">
                                    <p class="section-subtitle-small">Forma de pago</p>
                                    <ng-select [items]="formasPago$ | async" 
                                                bindLabel="name" 
                                                bindValue="name"
                                                [(ngModel)]="persona.formapago"
                                                [clearable]='false'
                                                style='height: 32px; margin-right: 5px; width: 150px;'>
                                    </ng-select>
                                </div>
                                <div class="flex-column">
                                    <p class="section-subtitle-small">Cuenta</p>
                                    <input type="text" [(ngModel)]='persona.nrocuenta' style='width:135px; margin-right: 5px; height: 32px;'>
                                </div>
                                <div class="flex-column" style="width: 156px;">
                                    <p class="section-subtitle-small">Banco</p>
                                    <ng-select [items]="bancos$ | async" 
                                        bindLabel="name" 
                                        bindValue="name"
                                        [(ngModel)]="persona.banco"
                                        [clearable]='false'
                                        style='height: 32px; margin-right: 5px;'>
                                    </ng-select>
                                </div>             
                            </div>
                        </div>
                        <div *ngIf='mandatoSelected.otrosdestinatarios.length == 0'>
                            No hay otros destinatarios
                        </div>
                        <div class='flex-row' style='justify-content: center; margin-top: 10px; margin-bottom: 5px;'>
                            <div class="grey-button" style='font-weight: 400; box-shadow: none;' (click)='addOtrosDestinatarios()'>Agregar</div>
                        </div>
                    </div>
                </div>
                <div class="flex-column" style='margin-top: 10px;'>
                    <p class="section-title">Instrucciones de pago</p>
                    <div class="flex-column">
                        <div class="flex-row" style='align-items: center; justify-content: space-between;'>
                            <div class="flex-row" style='align-items: center;'>
                                <input type="checkbox" [(ngModel)]='mandatoSelected.contribuciones'>
                                <p class='section-content'>Contribuciones</p>
                            </div>
                            <input type="text" [(ngModel)]='mandatoSelected.contribucionesdesc' style='width:300px;  height: 32px; font-size: 12px;' [disabled]='!mandatoSelected.contribuciones'>
                        </div>

                        <div class="flex-row" style='align-items: center; justify-content: space-between;'>
                            <div class="flex-row" style='align-items: center;'>
                                <input type="checkbox" [(ngModel)]='mandatoSelected.aseo' >
                                <p class='section-content'>Aseo</p>
                            </div>
                            <input type="text" [(ngModel)]='mandatoSelected.aseodesc' style='width:300px;  height: 32px; font-size: 12px;' [disabled]='!mandatoSelected.aseo'>
                        </div>
                        <div class="flex-row" style='align-items: center; justify-content: space-between;'>
                            <div class="flex-row" style='align-items: center;'>
                                <input type="checkbox" [(ngModel)]='mandatoSelected.otro'>
                                <p class='section-content'>Otro</p>
                            </div>
                            <input type="text" [(ngModel)]='mandatoSelected.otrodesc' style='width:300px;  height: 32px; font-size: 12px;' [disabled]='!mandatoSelected.otro'>
                        </div>
                        <!--
                        <div class="flex-column">
                            <app-multi-item-box [items]='instruccionesNombres' (updateSelection)='changeInstruccionSelected($event)' (updateArray)='updateInstrucciones($event)'></app-multi-item-box>
                        </div>
                        <div class="flex-column" style='flex: 1;'>
                            <div *ngIf='selectedInstruccion != -1 && mandatoId$.value != ""; else nodetalle' class="flex-column" style='flex: 1;'>
                                <textarea style="resize: none;" [(ngModel)]='mandatoSelected.instrucciones[selectedInstruccion].detalle'></textarea>
                            </div>
    
                            <ng-template #nodetalle>
                                <textarea readonly style="resize: none;">Elige o agrega un elemento para editar.</textarea>
                            </ng-template>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf='mandatoSelected._id != "";' class='flex-row' style='justify-content: flex-end; margin-top: 25px;'>
            <div class='grey-button' (click)='onBackClicked()'>
                Cancelar
            </div>
            <div class='green-button' style="margin-left: 12px;" (click)='onGuardarClicked()'>
                Guardar
            </div>
        </div>
    </div>

    <ng-template #NoMandatos>
        <div class="flex-column" style="flex:1; align-items: center; justify-content: center;">
           <p class='big-noinfo-text'>No hay mandatos registrados</p>
        </div>
    </ng-template>
</div>

<div id="historial" style='border-top: 1px solid #EEE;'>
    <p class="section-title" style='color: black; font-size: 22px; margin-left: 10px; margin-top: 15px; margin-bottom: 10px;'>
        Historial mandatos
    </p>
    <div class='orange-button' style="margin-left: 10px; margin-bottom: 10px;" (click)='onNewClicked()'>
        Nuevo mandato
    </div>
    <div *ngFor='let mandato of mandatos$ | async; index as i;' [ngClass]='historialClass(mandato._id)'>
        <div class="flex-row">
            <div class="flex-column" style='justify-content: center;' (click)='selectMandato(mandato._id)'>
                <div [inlineSVG]="'assets/icon/documentos.svg'" style='width: 25px; margin-left: 15px; margin-right: 15px;'></div>
            </div>
            <div class="flex-column" style='flex: 1;' (click)='selectMandato(mandato._id)'>
                <p>{{formatDate(mandato.fechaInicio)}}</p>
                <p *ngIf='checkFechaTermino(mandato.fechaTermino); else noTermino'>
                    {{formatDate(mandato.fechaTermino)}}
                </p>

                <ng-template #noTermino>-</ng-template>
            </div>

            <div class="flex-column" style='justify-content: center;' (click)='deleteMandato(mandato._id)'>
                <div [inlineSVG]="'assets/icon/delete.svg'" style='width: 25px; margin-left: 15px; margin-right: 15px;'></div>
            </div>
        </div>
    </div>
</div>